html, body, header {
  margin: 0;
  padding: 0;

}

body {
  text-align: center;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
}

h1, h2, h3 {
  margin-top:2em;
  line-height: 1.4;
  color: #000;
}
header h1 {
  margin-top:0.5em;
  color: #fff;
  margin-bottom: 2em;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
header .container {
  text-align:center;
}

header {
  background-color: #080067;
  background-image: radial-gradient(100% 200% at 80% 100%,#7a1098,rgba(173,9,208,.47) 24%,rgba(153,12,188,0) 48%),radial-gradient(100% 300% at 22% 70%,rgba(0,189,189,.51),rgba(0,189,189,0) 47.9%),linear-gradient(114deg,rgba(14,30,37,.4),rgba(14,30,37,0) 66.4%);
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: #00c7b7;
}
a:hover,
a:focus {
  text-decoration: underline;
}

blockquote {
  font-size: 0.8em;
  line-height: 1.6;
  background-color: #f6f6f6;
  padding: 2em 2em 1em;
  margin: 1em -2em;
  border-radius: 6px;
}

.main {
  padding-top:1em;
  padding-bottom:2em;
}

.logomark {
  width: 100px;
}

a.btn:link,
a.btn:visited {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.618em;
  padding: .382em 1em;
  margin-bottom:0.5em;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  cursor: pointer;
  background: #00b09f;
  color: #fff;
  transition: all .15s ease;
}

a.btn:hover,
a.btn:focus {
  background-color: #00c2b2;
}

a.btn-white:link,
a.btn-white:visited {
  background: #fff;
  color: #080067
}
a.btn-white:hover,
a.btn-white:focus {
  background-color: #00c2b2;
  color: #fff
}

@media (min-width: 650px) {
  .container {
    width: 550px;
  }
  body {
    line-height: 32px;
    font-size: 18px;
  }
}


/**
* Syntax highlighting
*
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
pre[class*="language-"] {
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: normal;
    font-family: Menlo, Monaco, "Courier New", monospace;
    line-height: 1.6;
    font-size: 0.9em;
    color: #76d9e6;
    text-shadow: none;
}
pre[class*="language-"],
:not(pre)>code[class*="language-"] {
    background: #2a2a2a;
}
pre[class*="language-"] {
    padding: 2em;
    margin: 0.5em -2em;
    border-radius: 4px;
    border: 1px solid #e1e1e8;
    overflow: auto;
}

pre[class*="language-"] {
    position: relative;
}
pre[class*="language-"] code {
    white-space: pre;
    display: block;
}

:not(pre)>code[class*="language-"] {
    padding: 0.15em 0.2em 0.05em;
    border-radius: .3em;
    border: 0.13em solid #7a6652;
    box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}
.token.namespace {
    opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6f705e;
}
.token.operator,
.token.boolean,
.token.number {
    color: #a77afe;
}
.token.attr-name,
.token.string {
    color: #e6d06c;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #e6d06c;
}
.token.selector,
.token.inserted {
    color: #a6e22d;
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
    color: #ef3b7d;
}
.token.regex,
.token.statement {
    color: #76d9e6;
}
.token.placeholder,
.token.variable {
    color: #fff;
}
.token.important,
.token.statement,
.token.bold {
    font-weight: bold;
}
.token.punctuation {
    color: #bebec5;
}
.token.entity {
    cursor: help;
}
.token.italic {
    font-style: italic;
}

code.language-markup {
    color: #f9f9f9;
}
code.language-markup .token.tag {
    color: #ef3b7d;
}
code.language-markup .token.attr-name {
    color: #a6e22d;
}
code.language-markup .token.attr-value {
    color: #e6d06c;
}
code.language-markup .token.style,
code.language-markup .token.script {
    color: #76d9e6;
}
code.language-markup .token.script .token.keyword {
    color: #76d9e6;
}

/* Line highlight plugin */
pre[class*="language-"][data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}
pre[data-line] .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.08);
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}
pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    font: bold 65%/1 sans-serif;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

