---
title: I deployed to Netlify!
layout: layouts/base.njk
---

{% if process.env.URL != "https://playwith.netlify.com/" %}
<h2 id="tweet">Deploy and tweet to win a Nintendo Switch</h2>
<p>
  Now that you have deployed your site, tweet its link to enter a prize draw to win a Nintendo Switch at {{ details.event }}.
</p>

<blockquote>
{{ details.tweet }}
<p>
  <a href="https://twitter.com/intent/tweet?text={{ details.tweet | urlencode }}" class="btn" target="NEW" rel="noopener">Tweet to enter the prize draw</a>
</p>

<small>(You'll get the chance to inspect and edit this tweet before you post it)</small>
</blockquote>
{% endif %}

<h2 id="get-yours">Get your own</h2>

<p>
  Oh hi! Admiring this site that {% if details.name %}{{ details.name }}{% else %}I{% endif %} deployed? Well, you can get one too.
</p>
<p>
  To deploy your own copy of this site, and enter the prize draw at {{ details.event }}, just click the button below, follow the instructions, and then tweet the link.
</p>
<p>
  <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify/my-first-netlify-deploys">
    <img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify">
  </a>
</p>
<h2>Deploy and then what?</h2>
<p>
  Try out a few more of the things that you can do with this once you've deployed to Netlify.
</p>

<ol>
  <li><a href="/next-steps/#add-your-name">Add your name</a></li>
  <li><a href="/next-steps/#deploy-preview">Create a deploy preview</a></li>
  <li><a href="/next-steps/#form">Add a form</a></li>
  <li><a href="/next-steps/#redirects">Define redirect rules</a></li>
  <li><a href="/next-steps/#functions">Deploy a serverless function</a></li>
</ol>
